/* Navigation styling */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
  padding: 20px;
  margin: 10px -90px 0 -70px;
  /* border: 1px solid red; */
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline-block;
  margin: 0 40px;
}

li:hover {
  background: #B5CEFF;
  cursor: pointer;
}

li p {
  color: #000;
}

nav .btn-sigin {
  background-color: #1c418c;
  border-radius: 4px;
  color: #fff;
  padding: 8px 12px;
  margin: 0 40px;
}

nav .btn-sigin:hover {
  color: #1c418c;
  background-color: #fff;
  border: 1px solid #1c418c;
  cursor: pointer;
}

.hamburger {
  height: 50px;
  width: 50px;
  border: 1px solid #E0EBFF;
  border-radius: 10px;
  display: none;
  position: fixed;
  cursor: pointer;
  top: 45px;
  right: 50px;
}

.hamburger > div {
  height: 2px;
  width: 80%;
  background: #1C418C;
}

@media  screen and (max-width: 900px) {

  li {
    display: none;
  }

  .hamburger{
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    align-items: center;
  }
}