.login {
  width: 415px;
  height: 414px;
  margin: 158px auto;
  text-align: center;
  background: #e0ebff;
  border-radius: 8px;
}

.login h3,
p {
  padding: 25px 20px;
  color: #1c418c;
  font-weight: 600;
}

form {
  display: grid;
  grid-gap: 20px;
  text-align: left;
  margin-left: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.login input,
button {
  width: 388px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.login input:focus {
  border: 3px solid #1c418c;
}

.login button {
  color: #fff;
  font-weight: 600;
  background-color: #1c418c;
}
