/* ABOUT PAGE */
.about-body {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-body > .about-texts {
  flex-basis: 60%;
  background: #d9dfeb;
  border-radius: 10px;
  padding: 50px 20px;
}


.about-body > .about-image {
  flex-basis: 25%;
  height: 100%;
}

.about-body > .about-image > img {
  height: 100%;
}

/* FAQS PAGE */
.faq-texts {
  width: 80%;
  margin: 50px auto;
  background: #d9dfeb;
  border-radius: 10px;
  padding: 50px 20px;
}

/* CONTACT-US PAGE */
.contact-body {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-left {
  flex-basis: 40%;
  /* border: solid red; */
}

.contact-left > h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-left: 12px;
}

form {
  width: 90%;
}

form > input {
  width: 100%;
  border: none;
  background: #d9dfeb;
  padding: 16px;
  outline: none;
  border-radius: 8px;
}

form > textarea {
  background: #d9dfeb;
  padding: 16px;
  border: none;
  border-radius: 8px;
  height: 150px;
  resize: none;
  outline: none;
}

form > button {
  width: 100%;
  text-transform: uppercase;
  background: blue;
  color: #fff;
}

