/* ABOUT PAGE */
.about-body {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-body > .about-texts {
  flex-basis: 60%;
  background: #E0EBFF;
  border-radius: 10px;
  padding: 50px 20px;
}

.about-texts h2 {
  color: #1C418C;
  margin-left: 20px;
  font-size: 31px;
}

.about-texts p {
  color: #000;
  font-size: 21px;
}

.about-body > .about-image {
  flex-basis: 25%;
  height: 100%;
}

.about-body > .about-image > img {
  height: 100%;
}

/* About page media queries */
@media screen and (max-width: 860px) {
  .about-body {
    flex-direction: column;
  }

  .about-image {
    margin-top: 70px;
  }
}

/* FAQS PAGE */
.faq-texts {
  width: 80%;
  margin: 50px auto;
  background: #E0EBFF;
  border-radius: 10px;
  padding: 50px 20px;
}

.faq-texts > .title {
  text-align: center;
}

.faq-texts h2 {
  margin-left: 20px;
  color: #1C418C;
  font-size: 31px;
}

.faq-texts p {
  color: #000;
  font-size: 21px;
}

/* CONTACT-US PAGE */
.contact-body {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-left {
  flex-basis: 40%;
}

.contact-left > h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-left: 12px;
}

form {
  width: 95%;
}

form > input {
  width: 100%;
  border: none;
  background: #E0EBFF;
  padding: 16px;
  outline: none;
  border-radius: 8px;
}

form > textarea {
  background: #E0EBFF;
  padding: 16px;
  border: none;
  border-radius: 8px;
  height: 150px;
  resize: none;
  outline: none;
}

form > button {
  width: 100%;
  text-transform: uppercase;
  background: #1C418C;
  color: #fff;
}

.contact-right {
  flex-basis: 45%;
}

.contact-right > img {
  width: 100%;
}

.contact-info {
  margin-top: 30px;
}

.contact-info > div {
  display: flex;
  align-items: center;
  margin-left: 50px;
  line-height: 15px;
}

.contact-info > div > p {
  color: #000;
  font-size: 18px;
}

/* contact-us page media queries */
@media screen and (max-width: 869px) {
  .contact-body {
    flex-direction: column;
  }

  .contact-left {
    width: 100%;
  }

  .contact-right {
    margin-top: 60px;
  }
}

